body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: 0.9;
  background: #fff; }
  .navbar .navbar-brand {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    word-spacing: 0.25em; }
  .navbar .nav-item {
    font-size: 1.3rem;
    padding-right: 20px; }

#showcase {
  position: relative;
  top: -11px;
  background: url("../img/pexels-photo.jpg");
  min-height: 370px; }
  #showcase img {
    height: 320px; }
  #showcase .primary-overlay {
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#accordion ul {
  list-style-type: none; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

@media screen and (max-width: 770px) {
  img {
    height: 250px !important; }
  #showcase {
    top: -18px !important; }
  #background {
    margin-top: 40px !important;
    padding-top: 40px !important; } }

@media screen and (max-width: 380px) {
  img {
    height: 150px !important;
    margin-bottom: 50px !important; }
  #showcase {
    top: -18px !important; }
  #background .info-header {
    margin-top: 100px !important; }
  .navbar-brand {
    font-size: 1.2rem !important;
    letter-spacing: 0.2em !important;
    word-spacing: 0.2em !important; }
  .nav-item {
    font-size: 1.2rem !important; }
  #background {
    margin-top: 0 !important;
    padding-top: 0 !important; } }
